.ck-modal-content {
	width: 60%;
	margin-left: 20%;
	margin-top: 20px;
	padding: 10px;
}

.ck-modal-content input {
	width: 95%;
}

.ck-modal-content p {
	margin-left: 10px;
	font-size: 0.9em;
	margin-top: 5px;
	font-style: italic;
}

.ck-modal-content label {
	font-size: 1.2em;
	margin-top: 10px;
	font-weight: bold;
}

.ck-modal-content button {
	font-size: 1.2em;
}

.ck-blocked {
	height: 28px;
	min-height: 1px;
	overflow: hidden;
}

.ck-message {
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 5px;
	cursor: pointer;
}

.ck-filtered {
	background-color: #FDE5E9 !important;
}

@media screen and (max-width: 870px) {
	.ck-modal-content {
		width: 90%;
		margin-left: 5%;
	}
}